 /* .fixed-header{ 
  position: fixed;
  background-color: cornsilk;
  color: deeppink;
  top: 0;
  left:0;
  width:100%;
  padding:10px;
  text-align: center;

}

body{
    padding-top: 100px;
    margin:50px;
    height: 100px;
}

main{
    height:1000px;
}  */

/* .sticky-nav{
    position: sticky;
    background-color:bisque;
    color: deeppink;
    top: 0;
    /* top:100px apdinu kudutha adhu top la irundhu kela stickya perform panum, top:0 na adhu mela poi stickya aagirum */
    /* padding: 10px;
}

.sticky-nav a{
    text-decoration: none;
    color: blueviolet;
}

.sticky-nav li{
    display:inline-block;
    padding-right:10px;
}

.sticky-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.content{
    height: 900px; ;
    padding-left: 40px;;
    padding-top: 40px;
} */ 

/* .container{
    position: relative;
    width:400px;
    border: 1px solid black;
    height:300px ;
}

.absoluteDiv{
    position:absolute;
    background-color: aqua;
    width:100px;
    height: 100px;
    top:20px;
    left: 20px;
}

.relativeDiv{
    position: relative;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    top:50px;
    left: 50px;
} */


